.scene {
  text-transform: uppercase;
  background-color: rgb(192, 192, 192);
  font-size: 16px;
  font-weight: normal;
}
.action {
  font-size: 16px;
  font-weight: normal;
}
.character {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}
.dialogue {
  font-size: 16px;
  text-align: justify;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 0;
  font-weight: normal;
}
.transition {
  font-size: 16px;
  text-align: right;
  font-weight: normal;
  text-transform: uppercase;
}

div.DraftEditor-root {
  background-color: white;
  min-height: 297mm;
  width: 210mm;
  overflow-y: auto;
  box-sizing: border-box;
  padding: 1in;
  border-radius: 0.28571429rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
}
div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  height: 100%;
}
body {
  font-family: 'Nanum Gothic', sans-serif;
}
